@import "tailwindcss";

body {
  background-color: #f3f4f6;
  color: #111827;
  font-family: Arial, sans-serif;
}

h1,h2,h3 {
  color: #111827;
}

input,
select {
  color: black;
  background: white;
}

button {
  cursor: pointer;
}